@model Todo
<div class="form-group">
  <a asp-controller="Todoes" asp-action="Index" class="btn btn-primary">
    Back to Index
  </a>
  </div>

<div class="card" style="width: 200px">
    <img 
        class="card-img-top" 
        src="https://pic.onlinewebfonts.com/svg/img_213869.png"
        alt="card image"/>
          <div class="card-body">
    <h4 class="card-title">@Model.Description</h4>
    <p class="card-text">Created At: @Model.CreatedAt.ToShortDateString()</p>
    <p class="card-text">Status: @Model.Status.ToString()</p>
    <p class="card-text">Category: @Model.Category.Description</p>

  </div>
        </img>
</div>